{
    "WebVerticle": {
        "host": "0.0.0.0",
        "port": 8081
    },
    "FileYardVerticle": {
        "boardingDir": "/home/calico/box/boarding",
        "warpDir": "/home/calico/box/warp",
        "landingDir": "/home/calico/box/landing"
    }
}