
*filter
:INPUT ACCEPT [221:22700]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [13:1284]
-A FORWARD -i wlan0 -o eth0 -j ACCEPT
-A FORWARD -i eth0 -o wlan0 -m state --state RELATED,ESTABLISHED -j ACCEPT
COMMIT

*nat
:PREROUTING ACCEPT [108:16120]
:INPUT ACCEPT [108:16120]
:OUTPUT ACCEPT [3:268]
:POSTROUTING ACCEPT [0:0]
-A POSTROUTING -o eth0 -j MASQUERADE
COMMIT
